<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Torato</title>
        <link
            rel="shortcut icon"
            href="public/images/icon.png"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="styles/style.css" />
        <link rel="stylesheet" href="styles/post.css" />
    </head>
    <body>
        <%- include('particals/header', {}) %>
        <div class="posts">
            <% posts.forEach(post =>{ %>
            <div class="post">
                <img src="images/<%= post.image %>" alt="" />
                <% if(post.description.length < 30){ %>
                <h1><%= post.description %></h1>
                <% }else{ %>
                <h1><%= post.description.slice(0,30)+'…' %></h1>
                <% } %>

                <p><%= post.date %></p>
            </div>

            <% }) %>
        </div>
    </body>
</html>
