<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Пользователи</title>
        <link
            rel="shortcut icon"
            href="/images/favicon.png"
            type="image/x-icon"
        />

        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="stylesheet" href="/styles/users.css" />
    </head>
    <body>
        <%- include('particals/header', {auth}) %> <%if(users.length > 1){%>
        <%if(page>1){%>
        <a class="prevUsers" href="/users?page=<%=page-1%>"
            >Предыдущая страница</a
        >
        <% }else{%>
        <a class="prevUsers" href=""></a>
        <%}%>

        <div class="users">
            <% users.forEach(user=>{ %>
            <a href="/users/<%= user._id %>">
                <div class="user">
                    <h1><%= user.login%></h1>
                </div>
            </a>
            <%})%>
        </div>
        <% if(count > page*10){%>
        <a
            class="nextUsers"
            style="margin-bottom: 50px"
            href="/users?page=<%=page+1%>"
            >Следующие посты</a
        >

        <%}%><% }else{%>
        <h1 style="margin: 200px 0; text-align: center">Юзеров пока нет</h1>
        <%}%> <%- include('particals/footer') %>
    </body>
</html>
